<div>

  <div class="left">
    <p id="error"><%= alert %></p>

    <p> Please return to the <%= link_to 'Home', root_url %> page and try again
      or contact <%= mail_to(WaiverMailer.contact) %>, if the problem persists.
    </p>

  </div>

</div>